body{
    margin: 0;
    padding: 0;
    background: url(../images/bg2.JPG) center no-repeat;
    background-size:cover;
    min-width: 600px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height:8vh;
    background-color: #046085;
    font-family: 'Coming Soon', cursive;
    opacity: 0.9;
}


.logo{
    color: rgb(226,226,226);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    vertical-align: center;
}

#navbar{
    display:flex;
    justify-content: space-around;
    width: 40%;
    margin: 0;
    padding: 0;
    
}

#navbar li{
    list-style: none;
}

#navbar a{
    color:white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226,226,226);
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width:1024px){
   #navbar{
       width: 60%
   }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
   #navbar{
       position: absolute;
       right:0px;
       height:80vh;
       top:8vh;
       background-color: #046085;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 30%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
       opacity: 1;
   }
   #navbar li{
       opacity: 0;
   }

   .burger{
       display: block;
       margin-right: 10%;
   }

}

#navbar.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opactiy: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
   transform: rotate(-45deg) translate(-5px, 6px); 
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px); 
}


.box{
    width:600px;
    background: rgba(0,0,0, 0.6);
    padding: 50px;
    text-align:center;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    transition: all ease-in-out 250ms;
}

.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box a{
    color:white;
    font-style: italic;
}

.box h1{
   font-size:40px;
   font-weight: 100; 
}

.box h5{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100;
    margin: 0;
}

.box #bio {
    text-align: justify;
    padding:auto;
    
}


.box .projects{
    padding: 0;
    margin:0;
    text-align: justify;
}

.box .projects .title{
    font-size: 24px;
}

.box .projects h4{
    margin: 0;
}

.box .projects .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.box .projects .steps{
    text-align: center;
}

.box #games ul{
    margin: 0;
    padding: 0;
    column-width: 10%;
}

.box #games-list{
    line-height: 1.6;
}

.box li{
    display: block;
    margin-right: 20px;
    list-style: none;
}

.box #accomplishments{
    padding: 0;
    margin: 0;
    text-align: justify;
    
}
.box #accomplishments ul{
    margin: 0;
    padding: 0;
    
}
.box #accomplishments p{
    text-align: justify;
    padding:0;
    
}


.box #socials li{
    display: inline-block;
    margin: 0;
    list-style: none;
}

.box #socials a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 40px;
    transition: all ease-in-out 250ms;
}

.box #socials a:hover{
    color: #00f7ff;
}